

.container {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.active {
    text-decoration: none;
    background-color: grey;
    padding: 2px 15px 2px 15px;
    border-radius: 10px;
    border: 1px solid grey;
}

.option {
    text-decoration: none;
    padding: 2px 15px 2px 15px;
    border-radius: 10px;
    border: 1px solid grey;
}