
.container {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0;
    width: 150px;
    height: 150vh;
    position: absolute;
    align-items: flex-start;
    border-right: 1px solid grey;
    
}

.subContainer {
    margin-left: 20px;
}

.container a {
    text-decoration: none;
    color: black;
    margin: 15px 0px 0px 15px;

}

.options {
    margin-right: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.options:hover {
    text-decoration: underline;
}

.containerFilter {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
}

.containerLink {
    margin-top: 30px;
    margin-bottom: 15px;
}
