.container {
    display: flex;
    flex-direction: column;
    margin-left: 130px;
    margin-right: 50px;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
}

.searchBar {
    width: 35%;
    margin-top: 100px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
}

.itemCount {
    display: flex;
    justify-content: center;
}

.loading {
    display: flex;
    justify-content: center;
}

.spinner {
    padding-top: 100px;
}