
.nav {
    background-color: #f5f5f5;
    display: flex;
    width: 100%;
    min-height: 80px;
    justify-content: space-between;
    box-shadow: 0px 7px 150px 0px;
    align-items: center;
    border: 1px solid grey;
}

.navTitle {
    display: flex;
    align-items: center;
    color: #47331f;
    margin-left: 10px;
}

.navCarrito {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title {
    text-decoration: none;
    color: #47331f;
    font-size: 25px;
    font-weight: 700;
}


.button {
    display: flex;
    margin-right: 50px;

}

.img {
    margin-right: 20px;
}


